@import url('https://fonts.googleapis.com/css2?family=Amarante&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noticia+Text:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body
{
    max-width: 500px;
}

img
{
    max-height: 450px;
    max-width: 750px;
    margin-left: 25px;
    margin-bottom: 25px;
}

/* Page Title
 */
h1
{
  font-family: "Amarante", serif;
}

/* Page Sub-Title
 */
h2
{
    font-family: "Amarante", serif;
}

/* Section Titles
 */
h3

p
{
    font-family: "Noticia Text", serif;
    font-weight: 400;
    font-style: normal;
    color: red; 
}

p.article-date-time
{
    font-style: italic;
}

p.quote
{
    font-style: italic;
}

a
{
    text-decoration: none;
}