body
{
    max-width: 800px;
}

img
{
    max-width: 750px;
    margin-left: 25px;
    margin-bottom: 25px;
}

/* https://fonts.bunny.net
 */
@import url(https://fonts.bunny.net/css?family=anaheim:400);

h1, h2, h3
{
    font-family: 'Anaheim', sans-serif;
}

p
{
    margin-left: 10px;
}

p.quote
{
    margin-left: 25px;
    font-style: italic;
}