body
{
    max-width: 500px;
}

img
{
    max-height: 450px;
    max-width: 750px;
    margin-left: 25px;
    margin-bottom: 25px;
}

/* https://fonts.bunny.net
 */
@import url(https://fonts.bunny.net/css?family=anaheim:400);

h1, h2, h3
{
    font-family: 'Anaheim', sans-serif;
    font-size: 3rem;
}

p
{
    margin-left: 10px;
}

p.article-date-time
{
    font-style: italic;
}

p.quote
{
    margin-left: 25px;
    font-style: italic;
}

a
{
    text-decoration: none;
}